body {
  background-color: #caf0f8;
}
/*  Navigation */
.site-nav {
  margin-top: 20px;
  margin-bottom: 40px;

}

.site-nav ul {
  margin: 0;
  padding: 0;
  margin-left: 80px;
}
.site-nav li {
  list-style: none;
  float: left;
  color: #000000;

}

.site-nav a {

  text-decoration: none;
  color: #000000;
  padding: 10px 10px;
  border: 10px solid #0D4B8A;
}

.site-nav a:hover {
  background-color: #A8D1DF;
}
/* end navigation */
/* shitij tour and travels */
 .title {
   text-align: center;
   font-size: x-large;

 }

 /* Shitij tours and travels*/
 header h1 {
   color: #0D4B8A;
   }

 header p {
   color: #000000;
   margin-bottom: 30px;
 }

 .title a:hover {
   background-color: #87CEEB;
 }
 /*tagline */

 .tagline {
   text-align: center;
   font-size: x-large;
   color: #000000;
   font-weight: bold;
 }
.container2 {
  font-size: x-large;
margin-left: 60px;
margin-right: 60px;
  padding: 40px 40px;
  font-weight: bold;
  background-color: #EFE1BA;
  color: #FF0000;
}

.why {
    text-align: center;
    font-size: x-large;

}
.whyheading {
  text-decoration: underline;
  color: #4056A1;
}
.footer {
  text-align: center;
}
.abovefooter {
  display: block;
  box-sizing: border-box;
 float: left;
 width: 33.33%;
 text-align: center;
 color: #FFF;
 background-color: #912A2E;
   padding: 20px 20px;
}
.abovefooter a {
float: left;
text-decoration:none;
color: #FFF;
}

.quicklinks a  {
 float: left;
 text-decoration: none;
 text-align: center;
 width: 100%;

}
.abovefooter p {
 text-align: center;
}
.quicklinks a:hover {
   background-color: #2C3E50;
 }
